/* Poppins, Mettiweather, and Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}
/* Header */
header {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#home header {
    background: lightgray url(../images/cliff_ocean.jpg) no-repeat;
    background-size: cover;
}

#cliff header {
    background: lightgray url(../images/forest_cliff.jpg) no-repeat;
    background-size: cover;
}

#activities header {
    background: lightgray url(../images/runfly.jpg) no-repeat;
    background-size: cover;
}

#contact header {
    background: lightgray url(../images/cliff_rock.jpg) no-repeat;
    background-size: cover;
}

.main-header {
    background-color: rgba(255, 255, 255, 0.801);
    min-width: 700px;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 20px rgba(26, 1, 29, 0.473);
    overflow: hidden;
    font-family: 'Merriweather', sans-serif;
    border-radius: 10px;
}

.main-header .logo img {
    width: 100px;
    height: 100px;
    /* display: inline-block; */
}

#clock {
    float: right;
    /* margin: 0; */
    font-size: 15pt;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    background: #9ED034;
    padding: 0.5em 1em;
}

/* Navigation */
.main-menu {
    /* margin-top: -7.26em; */
    font-weight: 400;
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.main-menu ul li a {
    text-decoration: none;
    color: #888;
    display: inline-block;
    height: 100px;
    width: 130px;
    text-align: center;
    font-weight: 600;
    font-size: 12pt;
}

.main-menu ul li a:hover {
    color: #9ed034;
}

.main-menu ul li.active {
    background: linear-gradient(0deg, rgb(188, 139, 251) 0%, rgb(118, 184, 245) 100%);
    /* box-shadow: inset 2px 2px 10px 1px rgba(0, 0, 0, 0.322); */
    border: none;
}

.main-menu ul li.active a {
    color: #fff;
}

/* Time section (home area) */
#timeofday {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, rgba(251, 215, 139, 1) 0%, rgba(118, 213, 245, 1) 100%);
    padding: 1em 0;
    width: 100%;
    margin-top: 14em;
    text-align: center;
}

#timeofday span:first-child {
    color: #3a3a3a;
}

#timeofday span:nth-child(2) {
    color: #125688;
}

/* Main */


h1 {
    color: #9ed034;
    margin-bottom: 1em;
}

/* Partners */
#partners-heading {
    text-align: center;
    padding: 25px 0 0 0;
    font-family: 'Arial', sans-serif;
}

section:not(section.contactinfo, section.images) {
    width: 100%;
    background-color: #4288c3;
}

section #partners {
    width: 100%;
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

section #partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.432), inset 1px 1px 2px rgba(0, 0, 0, 0.658);
}

section #partners .partner img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    width: 100%;
    background-color: #ecfab8;
}

footer #nondisclaimer .copy {
    /* padding: 3.5em 3.5em 3.5em 13em; */
    /* float: left; */
    text-align: center;
    font-size: 0.9em;
    width: 70%;
}

footer #nondisclaimer .social {
    padding: 2.5em;
    /* margin-right: 9.25em; */
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    /* float: right; */
}

footer #nondisclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}


footer #disclaimer {
    border-top: 1px solid #000;
    padding: 1em 0;
}

footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}

footer #nondisclaimer .social .fa {
    padding: 10px;
    font-size: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 100%;
}

footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}

footer #nondisclaimer .social .fa-facebook {
    background: #3b5998;
    color: #fff;
}

footer #nondisclaimer .social .fa-twitter {
    background: #55acee;
    color: #fff;
}

footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: #fff;
}

/* Activities */
table {
    width: 1000px;
    margin: 4em auto;
}

caption {
    background: #b52b1b;
    /* height: 40px; */
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1em 0;
}

thead {
    background: #bde1ff;
}

tbody {
    background: #eeffe6;
    text-align: center;
}

th, td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852b1b;
}

th:first-child {
    width: 125px;
    height: 50px;
    background: #4977d1;
    color: #fff;
}

td:first-child {
    font-weight: bold;
    background: #bde1ff;
}

/* Contact */
span:first-child {
    color: #020202;
}

legend {
    color: #4977D1;
    text-transform: uppercase;
    margin-left: -1.9em;
}

fieldset {
    padding: 2.1em;
    border: solid #9ed034;
}

form {
    margin: 1em 0 -2em 0;
}

option, legend, span:first-child {
    font-weight: bold;
}

label {
    font-weight: bold;
    color: #020202;
    display: block;
    margin-bottom: 2px;
}

input[type="text"], input[type="email"], textarea {
    width: 550px;
}

input[type="text"], input[type="email"] {
    margin-bottom: 1em;
    height: 1.9em;
}

textarea {
    height: 150px;
    margin-top: 0;
}

label.dropdown {
    width: 50px;
    display: inline-flex;
}

.lab {
    display: inline-flex;
}

.drop_down {
    margin-left: 5px;
    width: 10em;
    padding: 2px 25px;
}

.radio {
    display: inline-flex;
    margin-right: 5px;
}

.radios, .selectmenu, .commentbox {
    margin-top: 1em;
}

.selectmenu {
    display: inline-flex;
}

.radios label {
    display: inline-flex;
}

.commentbox textarea {
    resize: none;
}

input[type="submit"] {
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 14px 39px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button {
    margin-left: 27em;
    margin-top: 1em;
}

main {
    margin: 3.5em;
}

.contactinfo {
    margin-top: 1.6em;
}

.email {
    margin-top: 0.7em;
}

/* Cliff */

img[alt~="North Cliff Mountains"] {
    height: 100px;
    width: 100px;
}

.gallary img:first-child {
    width: 455px;
    height: 245px;
    float: left;
}

figcaption {
    background-color: #500f05;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 455px;
    padding: 1.2em 0;
    margin-right: 3.9em;
    border-bottom-right-radius: 25px;
}

.images {
    position: relative;
    display: flex;
    gap: 25px;
    width: 100%;
    margin: 25px auto;
    /* border: 1px solid #000; */
}

.gallery {
    width: calc(50% - 25px);
}

.gallery img {
    width: 100%;
    height: 100%;
}

.gallery figure {
    position: relative;
    margin: 0 !important;
}

.gallery figcaption {
    position: absolute;
    top: 0;
}

/* Verification */

#codes {
    background-color: #d1d1d1;
    margin-left: 1em;
    margin-top: 0.01em;
    justify-content: center;
    text-align: center;
    padding: 7px;
}

.randomcodeContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.randomcodeContainer input{
    width: 150px;
}

.randomcode {
    width: 9em;
}